@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p> <h2>Kebattle.Live</h2>
    <img src="~/Resources/version.png" alt="Wersja">
    <img src="~/Resources/license.png" alt="Licencja">
    <img src="~/Resources/lang.png" alt="Języki">
</p>
<p>
    Nasz projekt to aplikacja, która ma na celu pomoc restauracjom typu Kabab - w zarządzaniu zamówieniami.
    W aplikacji może je stworzyć zarówno klient jak i sprzedawca. Następnie można sprawdzić stan swojego zamówienia na stronie restauracji.
</p>
<p>
    Zamówienia mają trzy statusy:<br />
    <ol>
        <li>Nowe zamówienie</li>
        <li>W trakcie przygotowania</li>
        <li>Gotowe do odebrania</li>
    </ol>
</p>
<h4><b>W czym mogłoby to pomóc?</b></h4>
<p>
    <ul>
        <li>
            Sprzedawca zamiast używać notesu,
            mógłby użyć aplikacji uruchomionej np. na tablecie i stworzyć kebaba 
            klikająć zaledwie kilka przycisków na stronie.
        </li>
        <li>
            Klient nie musiałby podchodzić do kasy w restuauracji, by złożyć zamówienie.
            Mógłby to zrobić za pomocą np. telefonu (wraz z płatnością). Wiedziałby także,
            kiedy zamówienie jest gotowe do odebrania.
        </li>
    </ul>
</p>
<img src="~/Resources/Daco_5453030.png" alt="Kebabik">