@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Akademia Górniczo-Hutnicza im. Stanisława Staszica w Krakowie<br />
    aleja Adama Mickiewicza 30, 30-059 Kraków<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>klasycznienielogiczny: </strong> <a href="mailto:ppaluch@student.agh.edu.pl">ppaluch@student.agh.edu.pl</a>
</address>