@{
    ViewBag.Title = "Kontakt";
}
<h2 class="text-center">@ViewBag.Title</h2>

<address class="text-center">
    Akademia Górniczo-Hutnicza im. Stanisława Staszica w Krakowie<br />
    aleja Adama Mickiewicza 30, 30-059 Kraków<br />
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10245.124660012283!2d19.914975626976904!3d50.06229584568949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165b09fa7263bf%3A0x89193a9abbcc4bb7!2saleja%20Adama%20Mickiewicza%2C%2030-059%20Krak%C3%B3w!5e0!3m2!1sru!2spl!4v1604396000208!5m2!1sru!2spl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</address>

<address class="text-center">

  
     <strong>Tel:</strong> 
  <a href="tel:+48 12 617 36 84">+48 12 617 36 84</a>
  <br>
    <strong>Fax:</strong> 
  <a href="tel:+48 12 617 49 86">+48 12 617 49 86</a>
<br />
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a><br />
    <strong>klasycznienielogiczny: </strong> <a href="mailto:ppaluch@student.agh.edu.pl">ppaluch@student.agh.edu.pl</a>
 </address>
