@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Kebattle</h1>
    <p class="lead">Nasz projekt na zajęcia z Panem Pawłem.</p>
    <p><a href="/Account/Login" class="btn btn-success btn-lg">Zaloguj się &raquo;</a></p>
</div>