@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1>Kebattle</h1>
    <p class="lead">Wygląd tymczasowy</p>
    <img src="" class="img-fluid" alt="..." align="right"> 
              
                         <style>

p.ex {
  font-size: 50px;
}
                        </style>






<p class="ex">Kebattle to jest nowoczesna przyszłość!
  Na naszej stronie internetowej szybko oraz wygodnie zrealizujesz zamówienie w jednej z wielu współpracujących z nami firm!
</p>
</div>
