@{
    ViewBag.Title = "Home Page";
}
<div class="text-center">
    <h1>Kebattle</h1>
    <p class="lead">Wygląd tymczasowy</p>
    <div class="row">
        <div class="col-sm-6">
            <p class="ex mt-5">
                Kebattle to jest nowoczesna przyszłość!
                Na naszej stronie internetowej szybko oraz wygodnie zrealizujesz zamówienie w jednej z wielu współpracujących z nami firm!
            </p>
        </div>
        <div class="col-sm-6">
            <img src="~/Resources/Hungry_Woman_Astronaut_Eating_Kebab_Doner_Shawarma_Astronaut_Woman_Hungry_Eating.jpg" class="img-fluid" alt="..." align="right">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="~/Resources/output-onlinepngtools-2.png" class="img-fluid" alt="..." align="left">

        </div>
        <div class="col-sm-6">
            <p class="ex2 mt-5">
                Będziesz mógł sprawdzić aktualny status realizacji swojego zamówienia, oraz dowiesz się, gdy zostało już przygotowane i można je
                odebrać.
                Jeśli jesteś zaś restauracją, możesz zacząć z nami współpracę - rejestrując się na naszej stronie jako ”Firma”.
            </p>
        </div>
    </div>
</div>
