@model Kebattle.Web.Models.ExternalLoginListViewModel

<h4>O aplikacji</h4>
<hr />
<div>
    <p>
        Aplikacja Kebattle służy do pomocy restauracjom typu Kebab w zarządzaniu zamówieniami.
    </p>
</div>
