@model Kebattle.Web.Models.Order.OrderViewModel

@{
    ViewBag.Title = "OrderForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><i class="fa fa-plus-circle text-primary"></i> Tworzenie zamówienia</h3>

@Html.Partial("_Form", Model)